
<div class='row comment-row'>
	 <div class="col-md-1 avatar">
          <%= image_tag('gravatar.jpg', class: "parent-width hidden-sm hidden-xs") %>
     </div>

     <div class="col-md-11">
		<p>
		 <h3> <%= comment.commenter %> </h3>
		</p>
		 
		<p>
		  <%= comment.body %>
		</p>

		<p>
		  <%= link_to 'Destroy Comment', [comment.article, comment],
		               method: :delete,
		               data: { confirm: 'Are you sure?' } %>
		</p>
	</div>
</div>