 <div class="front-div parent-width">
    <!-- Front page -->
      <div class="font-div-mask">
        <div class="content-front">
          <h1>Harry's Page</h1>
          <br>
          <p class='front-content'>The ultimate measure of a man is not where  he stands in moments of  comfort and convenience, but where he stands at  times of challenge and  controvers!</p>
          <p class='front-content'>In 20 years, you will be more disappointed by what you didn't do than by what you did!
</p>

          <br>
           <%= link_to 'READ MORE', '/about' , class: 'btn green-bt btn-md'%>   
        </div>
      </div>
  </div>

<div class='row'>
  <%= render 'search' %> 
</div>

  <div class="row list-post-div">
    <!-- List of post -->
    <%= render @articles %> 
 
</div>