<p id="notice"><%= notice %></p>

<div class="container">
<h1>Sang's Blog</h1>
<h3>My first Rails Application for CoderSchool!</h3>

<%= render @articles %>
<br>

<%= link_to 'New Article', new_article_path %>

</div>