// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-div{
  border: 2px dotted #ddd9d6;
  margin-bottom:20px;
  padding-left:5px;
}

.tag-delete{
	color:gray;
 	margin-right:10px;
}

.tag-key{

 
}

.tag-form{
  margin: 10px 0px 5px 0px;
}